app = "lumina-photo"
primary_region = "cdg"

[build]

[env]
  NODE_ENV = "production"
  PORT = "3000"
  APP_URL = "https://lumina-photo.fly.dev"
  DATABASE_PATH = "/data/lumina.db"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[mounts]
  source = "lumina_data"
  destination = "/data"

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
